name: Tropica Development Release Build

on:
  push: 
    branches: [ development ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: Set-Up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Production Dependencies
        run: npm ci

      - name: Run Test Build
        run: npm run build
  
  build:
    runs-on: ubuntu-latest
    environment: development

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Production Dependencies
        run: npm ci

      - name: Create .env file
        run: |
          echo "TOKEN='${{ secrets.BOT_TOKEN }}'" >> .env
          echo "MONGODB_URI='${{ secrets.DatabaseUri }}'" >> .env
          echo "CLIENT_ID='${{ secrets.BOT_CLIENTID }}'" >> .env
          echo "STATUS='${{ secrets.BOT_STATUS }}'" >> .env
          echo "BOT_STATUS_URL='${{ secrets.BETTERSTACK_BOT }}'" >> .env
          echo "DB_STATUS_URL='${{ secrets.BETTERSTACK_DB }}'" >> .env

      - name: Run Test Build
        run: npm run build

      - name: Log Deployment notice
        run: |
          curl -H "Content-Type: application/json" \
          -X POST \
          -d "{\"content\": \"A new deployment to Development has started. \nExpect Tropica Beta to be down for 5 minutes.\"}" \
          "${{ secrets.DISCORD_WEBHOOK_URL }}"

      - name: Install Sshpass Package
        run: sudo apt-get update && sudo apt-get install -y sshpass

      - name: Test Connection to Tropica VPS
        run: |
          sshpass -p "${{ secrets.SSH_PASSWORD }}" ssh -o StrictHostKeyChecking=no ${{ secrets.SSH_USER}}@${{ secrets.SSH_HOST }} "cd ${{ secrets.TARGET_DIR }} && echo SSH OK"
          
      - name: Upload Build files via rsync
        run: |
          sshpass -p "${{ secrets.SSH_PASSWORD }}" rsync -avz --delete \
          --exclude=".git" \
          --exclude="node_modules" \
          -e "ssh -o StrictHostKeyChecking=no" \
          ./ \
          ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:${{ secrets.TARGET_DIR }}
          
      - name: Install Dependencies in folder
        run: |
          sshpass -p "${{ secrets.SSH_PASSWORD }}" ssh -o StrictHostKeyChecking=no \
          ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "
            cd ${{ secrets.TARGET_DIR }}/dist &&
            npm ci --production &&
            pm2 restart tropica-ts-beta || pm2 start index.js --name tropica-ts-beta --cwd ${{ secrets.TARGET_DIR }}
            "
      - name: Wait for 1 minute
        run: sleep 1m

      - name: Check PM2 instance status
        run: |
          sshpass -p "${{ secrets.SSH_PASSWORD }}" \
          ssh -o StrictHostKeyChecking=no \
          ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} \
          "pm2 describe tropica-ts-beta | grep -i online"

      - name: Log Deployment completed
        run: |
          curl -H "Content-Type: application/json" \
          -X POST \
          -d "{\"content\": \"Deployment sucessfull! \nTropica Beta **should** be online, if not contact ghost_unknown1.\"}" \
          "${{ secrets.DISCORD_WEBHOOK_URL }}"
